.tvshow {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}

.tvshow_intro {
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 10) 0px 100px 100px 50px;

}

.tvshow_backdrop {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0 35%;
}

.tvshow_intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 10) 100%
  );
}

.tvshow_detail {
  align-items: center;
  width: 83%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 225px;
}


