.navbar {
    display: flex;
    width: 90%;
    padding-top: 8px;
    font-family: 'Outfit', sans-serif;
  }
  
  .container{
    position: absolute;
    z-index: 1;
    width: 99%;
}

.navbar ul {
  display: flex;
  gap: 50px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar li {
  list-style: none;
}

.movie-list {
  position: relative;
  font-weight: 400;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.dropdown_list {
  top: 100%;
  width: 140px;
  display: none;
  position: absolute;
  border-radius: 5px;
  transition: opacity 1s ease;
}

.dropdown_list span {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-left: 0%;
}
.movie-list:hover .dropdown_list {
  display: block;
}

.text_dropdown {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255,255,255,.5);
  letter-spacing: 0px;
  list-style-type: square;
}

.text_dropdown:hover {
  color: aliceblue;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 35px;
}

