
.navbar {
    display: flex;
    width: 90%;
    padding-top: 8px;
}

.container{
    position: absolute;
    /* margin: auto; */
    z-index: 100;
    width: 100%;
}

.navbar ul {
    display: flex;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.navbar li {
    list-style: none;
}

.movie-list {
    position: relative;
}

.dropdown_list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 140px;
    border-radius: 3px;
    opacity: 0;
}

.dropdown_list span{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    font-size: 15px;
    /* padding-top: 10px;     */
    /* padding-bottom: 10px;     */
    padding: 10px;    
    font-weight: 500;
}

.text_dropdown{
    text-decoration: none;
    color: black;
}

.text_dropdown:hover{
    color: #030000;
    text-decoration: underline;
}

.movie-list:hover .dropdown_list {
    opacity : 1;
    transition: 1s;
}

.logo{
    display: flex;    
    align-items: center;
}

.logo img{
    height: 35px;
}


